.card1 {
    width: 200px;
    height: 270px;
    background: linear-gradient(45deg, #7d5ced 25%, #7d5ced 25%, #ffff 25%, #ffff 50%, #7d5ced 50%, #7d5ced 75%, #ffff 75%, #ffff 100%);
    animation: animate_6810 15s linear infinite;
    transition: .3s;
    background-size: 60px 60px;
    position: relative;
    overflow: visible;
    border-radius: 20px;
}

.card-info {
    position: absolute;
    width: 96%;
    height: 96%;
    left: 2%;
    top: 2%;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 20px;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-info:hover {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(12px);
    left: 20px;
    top: 20px;
}

.card-info p {
    color: white;
    font-weight: bold;
    font-size: 60px;
}

@keyframes animate_6810 {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: 1000px;
    }
}